<ion-view view-title="Digital Master Resource Portal" hide-nav-bar="true" hide-back-button="true">
    <div class="pageheader">
    	<p class="description">Welcome to</p>
    	<h1 class="description">Digital Master Resource Portal</h1>
	    <div class="breadcrumb-wrapper hidden-xs">
	        <span class="label" ng-click="login()">Login</span>
	        <ol>
	        	<li class="label" ng-click="signUp()">Sign Up</li>
        	</ol>
	        <!-- <ol class="breadcrumb">
	            <li class="description">/ Sign Up</li>
	        </ol> -->
	        <ol>
	        	<li class="label">Infomration</li>
        	</ol>
	    </div>
    </div>
    <div class="spacer" style="width: 250px; height: 5px;"></div>
  	<div>
        <ion-slide-box show-pager="false" style="height: 80vh; width: auto;" does-continue="true" auto-play="true" slide-interval=3000>
          <ion-slide>
          	<ion-content>
            <div class="row">
              <div class="col col-45 banner_myDetailsImageCard-1">
              	<div class="banner_myDetailsImage"></div>
                <p><h1>Enter your details for project purpose which can be editable by you or administrator. This Details will be safe and secure and will be used only for project purpose.
                </h1></p>
                <p><h1>For better opportunities within project, keep your details upto date and accurate all the time.</h1></p>
                <p class="btnStyle">
			    	<button class="button-block" type="submit">Learn More..</button>
                </p>
              </div>
              <div class="spacer" style="width: 20px; height: 100vh;"></div>
              <div class="col col-45 banner_accountadministrationImageCard-1">
              	<div class="banner_accountadministrationImage"></div>
              	<p><h1>The account administrator manages account-level settings and directories, and all project information that spans the project lifecycle. Account administrators have visibility across projects, managers, and users throughout 360. Account administrators are typically IT managers, Management or PMO in the organization.
                </h1></p>
                <div class="spacer" style="width: 20px; height: 10px;"></div>
                <p class="btnStyle">
			    	<button class="button-block" type="submit">Learn More..</button>
                </p>
              </div>
            </div>
            </ion-content>
          </ion-slide>
          <ion-slide style="background-color: #d6d6a7;">
            <div class="box yellow"><h1>Digital Master Resource Management Portal 2</h1></div>
          </ion-slide>
        </ion-slide-box>
  	</div>
  	<div class="spacer" style="width: 250px; height: 5px;"></div>
  	<div class="bar bar-footer footer">
    	<p class="label" style="text-align: right;">Copyright & Developed by B. I. G</p>
    </div>
</ion-view>